# Ignore node_modules folder
node_modules/

# Ignore .env file
.env

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore npm debug logs
npm-debug.log*

# Ignore build folders
dist/
build/

# Ignore package-lock.json (opsional, tergantung kebutuhan)
# package-lock.json